* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html,
body {
    height: 100%;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    height: 130px;
    padding: 30px 2% 35px 2%;
}

header div.logo {
    float: left;
}

header nav.desktop {
    float: right;
    position: relative;
    top: 40px;
}

nav.mobile {
    margin-top: 40px;
    display: none;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    background-image: url('../images/icon_menu.png');
    float: right;
}

nav.mobile ul {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100px;
    border-bottom: 5px solid #eb2d2d;
    z-index: 999;
}

nav.mobile li {
    font-size: 23px;
    padding: 20px 0px;
    font-style: italic;
}

nav.mobile li a {
    text-decoration: none;
    color: black;
}

header nav.desktop ul {
    list-style-type: none;
}

header nav.desktop ul li a {
    text-decoration: none;
    color: black;
}

header nav.desktop ul li {
    float: left;
    font-size: 23px;
    font-style: italic;
    padding: 0 30px;
}

section.banner {
    width: 100%;
    height: 600px;
    min-height: 600px;
    max-height: 800px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.text-banner {
    padding: 100px;
}

.text-banner-single {
    font-style: italic;
    width: 314px;
    height: 60px;
    margin-top: 20px;
    background-image: url('../images/box-text.png');
    background-size: 100% 100%;
    color: white;
    font-size: 23px;
    padding: 12px 30px;
    text-transform: uppercase;
}

.text-banner .text-banner-single:nth-of-type(2) {
    width: 200px;
    height: 50px;
    position: relative;
    left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
    width: 170px;
    height: 50px;
    position: relative;
    left: -20px;
}

.text-banner .text-banner-single a {
    text-decoration: none;
    color: black;
}

.text-banner .text-banner-single:nth-of-type(4) {
    width: 320px;
    height: 50px;
    background-image: url('../images/box-white-text.png');
    position: relative;
    left: -30px;
    font-size: 21px;
}

section.veiculos-destaque {
    padding: 90px 2%;
}

section.veiculos-destaque .container {
    max-width: 1000px;
    padding: 40px 0;
}

.line-titulo {
    position: relative;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.line-titulo h2 {
    text-align: center;
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 0 20px;
}

.vitrine-destaque {
    float: left;
    width: 33.3%;
}

.ln1 {
    position: absolute;
    top: 20px;
    height: 2px;
    width: 100%;
    background: black;
}

.vitrine-destaque .carro-img {
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 8px solid white;
}

.vitrine-destaque h2 {
    padding-left: 8px;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.vitrine-destaque p {
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    padding-top: 8px;
}

.btn1 {
    width: 150px;
    font-size: 16px;
    line-height: 40px;
    display: block;
    text-align: center;
    background-color: #eb2d2d;
    color: white;
    font-style: italic;
    text-decoration: none;
    border-bottom: 5px solid #b21e1e;
}

.vitrine-destaque a {
    margin-left: 8px;
    margin-top: 10px;
}

.servicos-descricao {
    display: flex;
}

.half1 {
    padding-right: 100px;
    width: 50%;
    padding: 90px 0;
    background: #242424;
    color: white;
    text-align: right;
}

.half1 a {
    margin-right: 4px;
}

.half1-wraper {
    padding-right: 30%;
    text-align: left;
    display: inline-block;
}

.half1-wraper h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half1-wraper ul {
    margin-top: 20px;
    display: inline-block;
}

.half1-wraper li {
    margin-left: 15px;
}

.half1-wraper a {
    margin-left: 40px;
    display: inline-block;
    vertical-align: bottom;
}

.half2 {
    width: 50%;
    padding: 90px 100px;
    background: #eb2d2d;
    color: white;
}

.half2 h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 32px;
}

.half2 .depoimento-single {
    margin-top: 19px;
}

.depoimento-single p {
    font-size: 22px;
}

.navigation {
    float: left;
    margin-top: 30px;
}

.navigation img {
    cursor: pointer;
    margin: 0 20px;
}

.arrows {
    float: left;
}

.nome-depoimento {
    float: right;
    color: #252525;
    font-size: 23px;
}

section.contato {
    padding: 80px 2%;
}

section.contato form {
    max-width: 600px;
    margin: 50px auto;
}

section.contato .input-wraper {
    float: left;
    padding: 10px;
    margin-top: 7px;
}

section.contato input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

section.contato textarea {
    width: 100%;
    border: 1px solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

section.contato input[type=submit] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

footer {
    padding: 40px;
    background: #252525;
}

footer nav {
    float: left;
}

footer nav ul {
    list-style-type: none;
}

footer nav ul li {
    float: left;
    font-style: italic;
    padding: 0 35px;
    font-size: 19px;
}

footer nav ul a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

footer p {
    float: right;
    color: white;
    font-size: 19px;
    font-style: italic;
}


/*começo medioa queries*/

@media screen and (max-width: 850px) {
    .half1-wraper {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
    .half1-wraper ul {
        margin-left: 8px;
    }
}

@media screen and (max-width: 1100px) {
    .half1 {
        text-align: center;
    }
    .half1-wraper {
        text-align: left;
        padding-right: 0;
    }
    .half1-wraper a {
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1400px) {
    section.banner {
        background-size: 90% auto;
        background-position: 200% 100%;
    }
}

@media screen and (max-width: 1024px) {
    section.banner {
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width: 768px) {
    footer nav {
        display: none;
    }
    footer p {
        padding: 0 2%;
        float: none;
        text-align: center;
    }
    section.servicos-descricao {
        flex-direction: column;
    }
    .w50 {
        width: 100%;
    }
    .half1 {
        text-align: center;
    }
    .half1,
    .half2 {
        padding: 80px 4%;
        width: 100%;
    }
    nav.mobile {
        display: block;
    }
    nav.desktop {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .text-banner {
        padding: 30px;
    }
    .text-banner-single {
        font-size: 18px;
    }
    section.veiculos-destaque .container {
        max-width: 1000px;
        padding: 40px 0;
        text-align: center;
    }
    .vitrine-destaque {
        width: 80%;
        float: none;
        display: inline-block;
        margin-top: 20px;
    }
    .vitrine-destaque a {
        display: inline-block;
    }
    section.veiculos-destaque .line-titulo h2 {
        font-size: 23px;
    }
}

@media screen and (max-width:480px) {
    .vitrine-destaque {
        width: 100%;
    }
}